<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{client/_layout}">

<head>
	<title>Login - BigStore</title>
</head>

<body>
	<div layout:fragment="content">
		<!--banner-->
		<div class="banner-top">
			<div class="container">
				<h3>Login</h3>
				<h4><a th:href="@{/}">Home</a><label>/</label>Login</h4>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!--login-->
		<div class="login">
			<div class="main-agileits">
				<div class="form-w3agile form-w3agile1">
					<h3>Login</h3>
					<form th:action="@{/login}" th:object="${loginRequest}" method="post">
						<!-- Hiển thị lỗi nếu có -->
						<div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
						<div th:if="${param.registered}" class="alert alert-success" style="color: green;">Registration
							successful, please log in!</div>

						<div class="key">
							<i class="fa fa-user" aria-hidden="true"></i>
							<input type="text" th:field="*{username}" placeholder="Username" required="">
							<div class="clearfix"></div>
						</div>
						<div class="key">
							<i class="fa fa-lock" aria-hidden="true"></i>
							<input type="password" th:field="*{password}" placeholder="Password" required="">
							<div class="clearfix"></div>
						</div>
						<input type="submit" value="Login">
					</form>
				</div>
				<div class="forg">
					<a href="#" class="forg-left">Forgot Password</a>
					<a th:href="@{/register}" class="forg-right">Register</a>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>