<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/_layout}">

<head>
    <title>Form Sản phẩm - Admin</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container-fluid">
            <h1 class="mt-4" th:text="${product.productId == null ? 'Thêm mới Sản phẩm' : 'Cập nhật Sản phẩm'}">Form
            </h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a th:href="@{/admin/products}">Danh sách Sản phẩm</a></li>
                <li class="breadcrumb-item active">Form</li>
            </ol>

            <div class="card mb-4" style="max-width: 600px;">
                <div class="card-body">
                    <form th:action="@{/admin/products/save}" th:object="${product}" method="post">
                        <input type="hidden" th:field="*{productId}" />

                        <div class="form-group">
                            <label>Tên sản phẩm</label>
                            <input type="text" class="form-control" th:field="*{productName}" required />
                        </div>
                        <div class="form-group">
                            <label>Giá bán (VNĐ)</label>
                            <input type="number" step="1000" class="form-control" th:field="*{unitPrice}" />
                        </div>
                        <div class="form-group">
                            <label>Đường dẫn hình ảnh</label>
                            <input type="text" class="form-control" th:field="*{imageUrl}" />
                        </div>

                        <button type="submit" class="btn btn-success">Lưu dữ liệu</button>
                        <a th:href="@{/admin/products}" class="btn btn-secondary">Hủy bỏ</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>